/* http://www.color-hex.com/color-palette/14345 */


html, body {
  height: 100%;
}
hr {
  border-top: 1px solid #fe9900;
  margin-top: 20px;
  margin-bottom: 50px;
}
p {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
  color: #fff;
}


.tuxedo {
  background-color: #2f3943;
  min-height: 100%;
  font-family: "Lato", sans-serif;

}
.tuxedo-logo {
  padding-top: 50px;
}
.tuxedo-logo-title {
  color: #fff;
  font-weight: 100;
  letter-spacing: 3px;
}
.tuxedo-content {
  font-size: 38px;
}
.footer {
  color: #fe9900;
  padding: 25px 0;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer a {
  padding: 0 20px;
}
