$red: #ff3353;
$purple: #7e33f7;
$teal: #0dcfdc;
$grey: lighten(#000, 50%);
$black: #000;

body {
  font-family: 'Open Sans', sans-serif;
}
hr {
  border-color: #cacaca;
}
h1 {
  font-size: 44px;
  font-weight: 900;
}
p {
  font-size: 18px;
  font-weight: 200;
}
a {
  color: inherit;
  transition: 0.1s;
  &:hover {
    color: $black;
    text-decoration: none;
    border-bottom: 2px solid $black;
    padding-bottom: 3px;
  }
}

.nav-logo {
  a {
    &:hover {
      border-bottom: none;
    }
  }
}
.nav {
  padding-top: 30px;
  li {
    margin-right: 30px;
    font-size: 18px;
    color: $red;
  }
  img {
    width: 70px;
    height: 70px;
  }
}
.carousel-shape {
  text-align: right;
  img {
    margin-top: -100px;
    position: relative;;
  }
}
.carousel-xl-icon {
  img {
    position: absolute;
    top: 140px;
    right: 290px;
  }
}
.carousel-text {
  padding-top: 50px;
}
.carousel-feature-title {
  color: $red;
}
.footer {
  padding: 40px 0 60px;
  color: $grey;
  font-size: 16px;
  font-weight: 200;
  a {
    &:hover {
      color: $red;
      border-bottom: none;
    }
    &:hover .social-icons {
      fill: $black;
    }
  }
  .row:first-child {
    padding-bottom: 30px;
  }
}
.section-wrapper {
  padding: 50px 0;
}
.team-nav {
  li {
    color: $purple;
  }
  .active {
    color: $black;
    text-decoration: none;
    border-bottom: 2px solid $black;
    padding-bottom: 3px;
  }
}
.team-footer {
  a {
    &:hover {
      color: $purple;
    }
  }
}
.portfolio-nav {
  li {
    color: $teal;
  }
  .active {
    color: $black;
    text-decoration: none;
    border-bottom: 2px solid $black;
    padding-bottom: 3px;
  }
}
.portfolio-footer {
  a {
    &:hover {
      color: $teal;
    }
  }
}